:root {
  --transition: all 0.2s ease;
  --blue: #1668c3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  height: 100vh;
  background-color: rgb(34, 56, 75);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 91vh;
}

nav {
  height: 9vh;
  background-color: transparent;
  width: 100vw;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0 25px;
  text-transform: uppercase;
}

nav select {
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 20px;
  height: 50px;
  width: 70px;
  cursor: pointer;
  &:hover {
    background-color: var(--blue);
  }
}

nav select option {
  color: black;
}

.users-container {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 3px 5px -6px,
    rgba(0, 0, 0, 0.3) 0px 3px 3px 0px;
  background-color: white;
  border-radius: 5px;
}

.list-item {
  cursor: pointer;
  transition: var(--transition);
  border-radius: 5px;
  margin: 10px 0;
}

.list-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.error {
  font-size: 100px;
  color: red;
  align-self: baseline;

  margin-bottom: -17.1px;
  margin-top: -4px;
}

.message-input {
  width: 100%;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: 1px solid gray;
  cursor: pointer;
  &:focus {
    outline: 2px solid var(--blue);
  }
}

.message-button {
  height: 40px;
  width: 40px !important;
  background-color: var(--blue);
  border: none;
  outline: none;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    scale: 1.1;
  }
  &:active {
    scale: 1;
  }
  &:disabled {
    opacity: 0.7;
  }
}

.back {
  border: none;
  outline: none;
  width: 40px;
  aspect-ratio: 1;
  /* min-width: 10px; */
  text-align: center;
  font-style: normal;
  color: var(--blue);
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.4s ease;
  margin-right: 10px;
  font-size: 14px;

  &:hover {
    background-color: rgba(22, 104, 195, 0.2);
  }

  &:active {
    background-color: rgba(22, 104, 195, 0.4);
  }
}
